<input type="file" (change)="onFileChange($event)" multiple="false" />
	<table class="table">
		<tbody>
      <th>
      <tr *ngFor="let row of data">
			<td *ngFor="let val of row">
				{{val}}
			</td>
		</tr>
  </th>
    </tbody>
	</table>
	<!-- <button (click)="export()">Export!</button> -->
	<!-- <button (click)="ImportData()">Import!</button> -->
	<button mat-raised-button color="primary" (click)="ImportData(emailid)">ImportData</button>
	<!-- <button mat-raised-button color="primary" (click)="ImportData(emailid)">SampleData</button> -->
	<!-- <a >SampleData</a> -->
	<a href="assets/files/Sample.xlsx" download="Sample.xlsx" class="btn btn-primary">SampleData</a>