<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Ashish</h2>
            <h4>ashish@hpe.com</h4>
        </div>
        <!-- <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL"> -->
    </div>

    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/empdashboard">  DashBoard</a> 
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/employee">Add Employee</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/importexcel">Import Excel</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/dash">Dashboard</a> -->
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/table">Import</a> -->
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/login">Logout</a> -->
    
    
    <mat-divider></mat-divider>

    

</mat-nav-list>