
<div fxFlex="100" #TABLE>
    <table>
        <thead>
            <tr>
                <!-- <th>#</th> -->
                <th> Name</th>
                <th>LastName</th>
                <th>EmailID</th>
                <!-- <th>Password</th> -->
                <th>Role</th>
                <!-- <th><button mat-raised-button color="primary" (click)="ExportTOExcel()">Export as Excel</button></th> -->
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empresponse of user">
                <td>{{empresponse.Name}}</td>
                <td>{{empresponse.LastName}}</td>
                <td>{{empresponse.EmailID}}</td>
                <!-- <td>{{empresponse.Password}}</td> -->
                <td>{{empresponse.Role}}</td>
                <div *ngIf="empresponse.Role =='user' || empresponse.Role == 'User'">
                    <td> <button class="makeadmin" (click)="usertoadmin(empresponse.EmailID)">MakeAdmin</button></td>
                </div>
                <div *ngIf="empresponse.Role =='admin' || empresponse.Role == 'Admin'">
                    <td> <button class="makeuser" (click)="admintouser(empresponse.EmailID)">Make User</button></td>
                </div>
                
                <td> <button class="changepassword"  (click)="resetpassword(empresponse.EmailID)">Change Password</button> </td>
                <td> <button class="delete" (click)="deleteuser(empresponse.EmailID)">Delete</button> </td>
                
            </tr>

        </tbody>
    </table>
</div>

<div fxFlex="100" #ExcelDownload hidden>
    <table>
        <thead>
            <tr>
                <!-- <th>#</th> -->
                <th> Name</th>
                <th>LastName</th>
                <th>EmailID</th>
                <th>Password</th>
                <th>Role</th>
                <th><button mat-raised-button color="primary" (click)="ExportTOExcel()">Export as Excel</button></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empresponse of user">
                <td>{{empresponse.Name}}</td>
                <td>{{empresponse.LastName}}</td>
                <td>{{empresponse.EmailID}}</td>
                <td>{{empresponse.Password}}</td>
                <td>{{empresponse.Role}}</td>
                <!-- <td> <button class='btn btn-danger' (click)="Delete(empresponse.EmailID)">Delete</button> </td> -->
            </tr>

        </tbody>
    </table>
</div>